<h1>Listing</h1>

<table class="table">
  <tr>
    <th>RequestIp</th>
    <th>UpdateTime</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.request_ip %></td>
    <td><%= message.update_time %></td>
  </tr>
<% end %>
</table>

<% @keys.each do |key| %>
  <%= key %>
<% end %>
<br />
