<table class="table">
  <thead>
    <th>
      Name
    </th>
    <th>
      RTX
    </th>
  </thead>
  <tbody>
    <% @devices.each do |device|%>
      <%= form_for(device) do |f| %>
        <tr>
          <td>
            <%= device.hostname%>
          </td>
          <td>
            On
            <%= f.radio_button :rtx, "ON"%>
            OFF
            <%= f.radio_button :rtx, "OFF"%>

            <%= f.submit :class=>"btn"%>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to "New", new_device_path, class: :btn %>
