<h1>Listing events</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Operations</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.message %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>