<%= form_for(@fiverror) do |f| %>
  <% if @fiverror.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiverror.errors.count, "error") %> prohibited this fiverror from being saved:</h2>

      <ul>
      <% @fiverror.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
