<h1>Listing fiverrors</h1>

<table class="table">
  <tr>
    <th>area</th>
    <th>Ip</th>
    <th>Hostname</th>
    <th>Count</th>
    <th>CreateAt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fiverrors.each do |fiverror| %>
  <tr>
    <td><%= fiverror.area %></td>
    <td><%= fiverror.ip %></td>
    <td><%= fiverror.hostname %></td>
    <td><%= fiverror.count %></td>
    <td><%= fiverror.created_at %></td>
    <td><%= link_to 'Show', fiverror %></td>
    <td><%= link_to 'Edit', edit_fiverror_path(fiverror) %></td>
    <td><%= link_to 'Destroy', fiverror, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fiverror', new_fiverror_path %>
