<p id="notice"><%= notice %></p>

<p>
  <b>Ip:</b>
  <%= @fiverror.ip %>
</p>

<p>
  <b>Count:</b>
  <%= @fiverror.count %>
</p>


<%= link_to 'Edit', edit_fiverror_path(@fiverror) %> |
<%= link_to 'Back', fiverrors_path %>
