<%= link_to "Analysislog", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
  <%= link_to 'Edit account', edit_user_registration_path %>
  </li>
  <li>
    <a href="/receivers">Receivers</a>
  </li>
  <li>
    <a href="/fiverrors">50x errors</a>
  </li>
  <li>
    <a href="/sidekiq">sidekiq</a>
  </li>
  <li>
    <%= link_to 'Mesages', messages_path %>
  </li>
  <% if current_user.has_role? :admin %>
    <li>
  <%= link_to 'Admin', users_path %>
  </li>
<% end %>
  <li>
  <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
  </li>

<% else %>
    <li>
  <%= link_to 'Login', new_user_session_path %>
  </li>
  <li>
  <%= link_to 'Sign up', new_user_registration_path %>
  </li>
<% end %>
</ul>
